th {
    width: 50px;
    background-color: #96AEB5;   
}
td{
    height: 40px;
    border-style: dashed;
    border-width: 0.5px;
    border-color: black;
    text-align: center;
    vertical-align: top;
}
table {
    border-collapse: collapse;
}
caption{
    color: rgb(27, 61, 16);
    text-transform: capitalize;

    font-family: Cambria;
    font-weight: 900;
}
.Sundays{
    color: red;
}
#bookmark{
    text-align: center;
}
#img1{
    float: right;
}
#span1{
    display: block;
    clear: right;
}
